body
{
	background-color: #000;
	margin: 0;
	color: #FFF;
}
nav
{
	width: 100%;
	height: 64px;
	background-color: #000;
	font-family: acumin-pro, sans-serif;
	font-size: 16px;
}
h1
{
	font-family: acumin-pro, sans-serif;
	font-size: 50px;
	color: #FFFFFF;
	position: absolute;
	z-index: 1;
	text-align: center;
	filter: drop-shadow(0px 10px 6px black);
	background-color: #DAAA00CC;
	width: 70%;
	padding: 0.2rem;
}
h2
{
	text-align: center;
	font-family: united-sans, sans-serif;
	font-size: 36px;
}
h3
{
	text-align: center;
	font-family: united-sans, sans-serif;
	color: #FFF;
	text-decoration: none;
}
h4
{
	text-align: left;
	font-family: united-sans, sans-serif;
	font-size: 18px;
	margin: 6px 0px;
}
hr
{
	border: none;
	height: 3px;
	color: #FFF;
	background-color: #FFF;
}
p
{
	font-size: 20px;
	line-height: 1.6;
	font-family: acumin-pro, sans-serif;
}
footer
{
	font-family: Source-Serif-Pro, sans-serif;
	font-size: 14px;
	background-color: #333;
	width: 100%;
	overflow: auto;
	text-align: center;
	min-height: 50px;
	padding-bottom: 18px;
}
.nav-home, .nav-links, .social-links, .strip-links
{
	text-decoration: none;
	color: #FFF;
}
.nav-logo
{
	margin-top: 12px;
	height: 40px;
	margin-left: 12px;
}
.nav-container
{
	float: right;
	padding-top: 20px;
}
.nav-links
{
	padding: 4px;
	margin: 24px;
	margin-top: 20px;
}
.nav-links:hover
{
	color: #DAAA00;
}
#banner
{
	filter: opacity(0.8);
	width: 100%;
	
}
.container-banner
{
	text-align: center;
	margin: auto;
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}
.container
{
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: row;
}
.container-header{
	display: flex;
	width: 100%;
	flex-grow: 1;
	justify-content: center;
}
.container-body{
	display: flex;
	flex: auto;
	gap: 3%;
	flex-direction: row;
	flex-grow: 1;
}
.sub-img
{
	display: flex;
	max-width: 50%;
	margin: 16px;
	align-self: center;
	border: 3px ridge #CCC;
	border-radius: 5px;
}
.socials
{
	width: 50%;
	display: block;
	margin: auto;
	color: #000;
}
.team-container
{
	margin: auto;
	overflow: auto;
	border: 4px ridge #8e6f3e;
	border-radius: 5px;
	text-decoration: none;
	display: flex;
	max-width: 22%;
	
}
.subteam-images
{
	width: 90%;
	border-radius: 4px;
	display: block;
	margin: auto;
	margin-bottom: 8px;
}
.image-badge
{
	width: 92%;
	border-radius: 3px;
	margin: auto;
	display: block;
}
.box-badge
{
	max-width: 240px;
	display: inline-block;
	margin: 20px;
	border: 6px ridge #8e6f3e;
	border-radius: 6px;
	background-color: #ebd99f;
}
.logo-badge
{
	padding: 6px;
	width: 80%;
	display: block;
	margin: auto;
}
.heading-badge
{
	font-family: acumin-pro, sans-serif;
	font-size: 22px;
	color: #000;
	text-align: center;
	display: block;
	margin: auto;
	padding: 4px;
	font-weight: bold;
}
.sub-heading-badge
{
	font-family: acumin-pro, sans-serif;
	font-size: 16px;
	color: #000;
	text-align: center;
	display: block;
	margin: auto;
	padding: 4px;
}
.mobile-icon
{
	display: none;
}
#subteams-container{
	gap: 1%;
}
#media-center
{
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
.sponsor-guide
{
	text-decoration: none;
	color: #cfb991;
	font-weight: bold;
	font-family: acumin-pro, sans-serif;
}
.container-sponsor
{
	width: 70%;
	text-align: center;
	margin: auto;
}
.sponsor-guide:hover, .contact-link:hover
{
	text-decoration: underline;
}
.sponsor-heading
{
	font-family: acumin-pro, sans-serif;
	font-size: 24px;
	font-weight: bold;
	display: block;
	width: 80%;
	margin: auto;
	text-align: center;
	margin-top: 12px;
}
#gold
{
	color: #daaa00;
}
#silver
{
	color: #C0C0C0;
}
#bronze
{
	color: #cfb991;
}
.container-logo
{
	display: flex;
	width: 80%;
	margin: auto;
	text-align: center;
	flex-direction: row;
	padding-top: 18px;
	gap: 8%;
	justify-content: center;
}
.sponsor-logo
{
	width: 100%;
	align-self: center;
	flex-grow: 1;
	display: flex;
	object-fit: fill;
	height: 200px;
	background-color: #FFF;
	text-decoration: none;
	border-radius: 4px;
	justify-content: center;
	margin: auto;
}
.sponsor-logo-gold
{
	width: 100%;
	align-self: center;
	flex-grow: 1;
	display: flex;
	object-fit: fill;
	height: 300px;
	text-decoration: none;
	border-radius: 4px;
	text-align: center;
	justify-content: center;
	margin: auto;
}
.form-container
{
	margin: 4px;
}
.menu
{
	display: block;
	overflow: auto;
	float: right;
	margin-right: 24px;
	margin-top: 12px;
	/*border: 2px solid #CCC;*/
	border-radius: 3px;
	font-family: acumin-pro, sans-serif;
	font-size: 16px;
}
.search, .form-submit, .sort
{
	font-family: acumin-pro, sans-serif;
	border-radius: 4px;
	border: none;
	font-size: 14px;
	margin-left: 4px;
}
.form-submit:hover
{
	background-color: #DAAA00;
	cursor: pointer;
}
.news-header
{
	display: flex;
	flex-direction: row;
	width: 70%;
	border: 3px solid #CCC;
	border-radius: 3px;
	justify-content: center;
	margin: auto;
	height: 128px;
}
.news-container
{
	display: flex;
	flex: auto;
	flex-grow: 1;
	object-fit: cover;
}
.news-content
{
	width: 75%;
	padding: 0px 4px;
}
.news-detail
{
	font-size: 14px;
	font-family: united-sans;
	opacity: 70%;
}
.news-summary
{
	font-size: 18px;
	font-family: united-sans;
}
.news-ignore
{
	height: 1px;
	color: #CCC;
	background-color: #CCC;
}
.search-heading
{
	font-size: 18px;
	font-family: united-sans;
	text-align: center;
}
.contact-container
{
	width: 75%;
	overflow: auto;
	margin: auto;
	display: flex;
	justify-content: center;
	gap: 3%;
}
.contact-flex
{
	width: 30%;
	min-height: 50px;
	border: 2px solid #ccc;
	border-radius: 3px;
	text-align: center;
	padding: 16px;
}
.contact-form
{
	width: 75%;
	overflow: auto;
	min-height: 1200px;
	margin: auto;
	display: flex;
	justify-content: center;
}
.contact-heading
{
	font-family: acumin-pro, sans-serif;
	font-size: 16px;
	color: #FFF;
	justify-content: center;
}
.contact-link
{
	font-family: acumin-pro, sans-serif;
	font-size: 16px;
	color: #ebd99f;
	justify-content: center;
	text-decoration: none;
}

@media all and (max-width: 1000px)
{
	h1
	{
		font-size: 26px;
		/* margin-top: 4px; */
	}
	h2
	{
		font-size: 22px;
	}
	h3
	{
		font-size: 16px;
	}
	#mobile-container
	{
		display: none;
	}
	.nav-links
	{
		padding: 6px;
		margin: 0;
		margin-left: 4px;
		margin-bottom: 4px;
		display: block;
		color: #000;
	}
	.nav-links:hover
	{
		color: #000;
		text-decoration: underline;
	}
	.nav-container
	{
		margin-top: 8px;
		right: 0;
		z-index: 2;
		width: 50%;
		position: absolute;
		background-color: #ebd99f;
	}
	.container, .container-sponsor, .container-logo
	{
		width: 90%;
		flex-wrap: wrap;
		justify-content: center;
	}
	.sponsor-logo
	{
		width: 80%;
		flex-basis: 80%;
		flex-wrap: wrap;
	}
	.sub-img{
		max-width: 90%;
	}
	.mobile-icon
	{
		float: right;
		font-size: 36px;
		color: #FFF;
		padding: 6px 12px;
		margin-top: 5px;
		margin-right: 12px;
		display: block;
	}
	.mobile-icon:hover
	{
		background-color: #333;
		border-radius: 3px;
	}
	.container-body
	{
		gap: 0%;
		margin: 0;
	}
	.contact-container, .contact-form
	{
		width: 100%;
		gap: 1%;
	}
	.contact-container
	{
		flex-wrap: wrap;
		flex-direction: column;
	}
	.contact-flex
	{
		text-align: center;
		justify-content: center;
		margin: auto;
		width: 80%;
		margin-bottom: 24px;
	}
	.container-logo
	{
		flex-direction: column;
		justify-content: space-around;
		gap: 24px;
	}
	.sponsor-logo-gold
	{
		width: 100%;
		height: 100%;
	}
	.sponsor-logo
	{
		all: unset;
		max-width: 80%;
		height:80%;
		align-self: center;
		background-color: #FFF;
		text-decoration: none;
		border-radius: 4px;
		text-align: center;
		justify-content: center;
		margin: auto;
		
	}
}
@media all and (max-width: 640px)
{
	h1
	{
		font-size: 24px;
	}
	h2
	{
		font-size: 20px;
	}
	h3
	{
		font-size: 11px;
	}
}